{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    
    <title>1GOV</title>
    
    <!-- Fonte Rawline-->
    <link rel="stylesheet" href="https://cdngovbr-ds.estaleiro.serpro.gov.br/design-system/fonts/rawline/css/rawline.css"/>
    <!-- Fonte Raleway-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&amp;display=swap"/>
    <!-- Design System de Governo-->
    <link rel="stylesheet" href="{% static '@govbr-ds/core/dist/core.css' %}"/>
    <!-- Fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"/>

    <script src="{% static 'js/gerenciamento_campos_endereço.js' %}"></script>
    
    {% block css %}
    {% endblock %}
    
</head>
<body>
    
    <div class="template-base">
        
        {% comment %} nav-bar {% endcomment %}
        <nav class="br-skiplink">
            <a class="br-item" href="#main-content" accesskey="1">Ir para o conteúdo (1/4) <span class="br-tag text ml-1">1</span></a>
            <a class="br-item" href="#header-navigation" accesskey="2">Ir para o menu (2/4) <span class="br-tag text ml-1">2</span></a>
            <a class="br-item" href="#main-searchbox" accesskey="3">Ir para a busca (3/4) <span class="br-tag text ml-1">3</span></a>
            <a class="br-item" href="#footer" accesskey="4">Ir para o rodapé (4/4) <span class="br-tag text ml-1">4</span></a>
        </nav>
        
        {% comment %} nav-bar {% endcomment %}
        <header class="br-header mb-4" id="header" data-sticky="data-sticky" style="background-color:!important;">
            <div class="container">
                
                <div class="header-top">
                    
                    <div class="header-logo">
                        <a href="{% url 'comum:index' %}"><img src="{% static 'img/logo-1gov.png' %}" alt="logo" /></a>
                        <span class="br-divider vertical"></span>
                    </div>
                    
                    <div class="header-actions">
                        <div class="header-links dropdown">
                            <button class="br-button circle small" type="button" data-toggle="dropdown" aria-label="Abrir Acesso Rápido"><i class="fas fa-ellipsis-v" aria-hidden="true"></i></button>
                            <div class="br-list">
                                <div class="header">
                                    <div class="title">Acesso Rápido</div>
                                </div>
                            </div>
                        </div>

                    <span class="br-divider vertical mx-half mx-sm-1"></span>
                    <div class="header-functions dropdown">
                        <button class="br-button circle small" type="button" data-toggle="dropdown"
                                aria-label="Abrir Funcionalidades do Sistema"><i class="fas fa-th"
                                                                                 aria-hidden="true"></i>
                        </button>
                        <div class="br-list">
                            <div class="header">
                                <div class="title">Funcionalidades do Sistema</div>
                            </div>
                            <div class="br-item">
                                <button class="br-button circle small" type="button" aria-label="Funcionalidade 1"><i
                                        class="fas fa-chart-bar" aria-hidden="true"></i><span class="text">Funcionalidade 1</span>
                                </button>
                            </div>
                            <div class="br-item">
                                <button class="br-button circle small" type="button" aria-label="Funcionalidade 2"><i
                                        class="fas fa-headset" aria-hidden="true"></i><span class="text">Funcionalidade 2</span>
                                </button>
                            </div>
                            <div class="br-item">
                                <button class="br-button circle small" type="button" aria-label="Funcionalidade 3"><i
                                        class="fas fa-comment" aria-hidden="true"></i><span class="text">Funcionalidade 3</span>
                                </button>
                            </div>
                            <div class="br-item">
                                <button class="br-button circle small" type="button" aria-label="Funcionalidade 4"><i
                                        class="fas fa-adjust" aria-hidden="true"></i><span
                                        class="text">Funcionalidade 4</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="header-search-trigger">
                        <button class="br-button circle" type="button" aria-label="Abrir Busca" data-toggle="search"
                                data-target=".header-search"><i class="fas fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="header-login">
                        <div class="header-sign-in">
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'autenticacao:sair' %}" class="br-sign-in small" type="button" data-trigger="logout"><i
                                        class="fas fa-user"
                                        aria-hidden="true"></i><span
                                        class="d-sm-inline">Sair</span>
                                </a>
                            {% else %}
                                <a href="{% url 'autenticacao:entrar' %}" class="br-sign-in small" type="button" data-trigger="login"><i
                                        class="fas fa-user"
                                        aria-hidden="true"></i><span
                                        class="d-sm-inline">Entrar</span>
                                </a>
                            {% endif %}
                        </div>
                        <div class="header-avatar"></div>
                    </div>
                </div>
            </div>
                
            <div class="header-bottom">
                <div class="header-menu">
                    <div class="header-menu-trigger" id="header-navigation">
                        <button class="br-button small circle" type="button" aria-label="Menu" data-toggle="menu"
                                data-target="#main-navigation" id="navigation"><i class="fas fa-bars"
                                                                                  aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="header-info">
                        <div class="header-title">{% block titulo %}{% endblock %}</div>
                        <div class="header-subtitle"></div>
                    </div>
                </div>
                <div class="header-search" id="main-searchbox">
                    <div class="br-input has-icon">
                        <label for="searchbox">Texto da pesquisa</label>
                        <input id="searchbox" type="text" placeholder="O que você procura?"/>
                        <button class="br-button circle small" type="button" aria-label="Pesquisar"><i
                                class="fas fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                    <button class="br-button circle search-close ml-1" type="button" aria-label="Fechar Busca"
                            data-dismiss="search"><i class="fas fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
                
        </div>
    </header>
        
        <div class="container">
            <main class="d-flex flex-fill mb-5" id="main">
                
                <div class="row col-lg-12">
                    <div class="br-menu push" id="main-navigation">
                        <div class="menu-container">
                            <div class="menu-panel">
                                
                                <div class="menu-header">
                                    <div class="menu-title"><span>Identificação do site ou Sistema</span></div>
                                    <div class="menu-close">
                                        <button class="br-button circle" type="button" aria-label="Fechar o menu"data-dismiss="menu"><i class="fas fa-times" aria-hidden="true"></i></button>
                                    </div>
                                </div>

                                {% comment %} Menu de Navegação {% endcomment %}
                                {% include 'globals/menu-lateral.html' %}
                            </div>
                            <div class="menu-scrim" data-dismiss="menu" tabindex="0"></div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="br-breadcrumb">
                            <ul class="crumb-list">
                                <li class="crumb home"><a class="br-button circle" href="{% url 'comum:index' %}"><span
                                        class="sr-only">Página inicial</span><i class="fas fa-home"></i></a></li>
                                <li class="crumb">
                                    <i class="icon fas fa-chevron-right"></i>
                                    <a href="{% url 'comum:index' %}">Painel Principal</a>
                                </li>
                                {% block crumb %}
                                {% endblock %}
                            </ul>

                            <div class="container">
                                <h3><i class="fas fa-hard-hat" style="font-size:26px; color:#605f9b;"></i> Index Constructions</h3>
                            </div>
                        </div>
                        <div class="main-content" id="main-content">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>

                </div>
                
            </main>
        </div>
        
        {% comment %} footer {% endcomment %}
        <footer class="br-footer pt-3" id="footer" style="position: fixed; bottom: 0; width: 100%;">
            <div class="container-fluid">
                <div class="info">
                    <div class="text-down-01 text-medium pb-3">Textao destinado a exibição de informações relacionadas à&nbsp;<strong><a
                            href="">licença de uso</a>.</strong></div>
                </div>
            </div>
        </footer>
        
    </div>
    
    <script src="{% static '/@govbr-ds/core/dist/core-init.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    
{% block script %}
{% endblock %}
    
</body>
</html>
